<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% trans_default_domain 'AcmeDemoBundle' %}
{% set _locale = app.request.locale %}
{% set _route  = app.request.attributes.get('_route') %}

<head>
{% block title %}
    <title></title>
{% endblock %}
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

{% stylesheets 'bundles/acmedemo/css/BrightSide.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>
<div id="wrap">
  <div id="header">
<div id="drapeaux">
    <a href="{{ path(_route, {'_locale': 'en'}) }}"><img width="40px" height="20px" src="http://engees-fresqueau.unistra.fr/drapeau/drapeaua.jpg"></img></a>
    <a href="{{ path(_route, {'_locale': 'fr'}) }}"><img width="40px" height="20px" src="http://croc.campus.ecp.fr/french.jpg"></img></a>
</div>
          <h1 id="logo"><img width="400px" height="100px" src="{{ asset('bundles/acmedemo/images/logo-high-tech.jpg') }}"></img></h1>
    <form method="post" class="searchform" action="">
      <p>
        <input type="text" name="search_query" />
        <input type="submit" name="search" value="Chercher" />
      </p>
    </form>
        <nav>
            <ul class="fancyNav">
                <li id="home"><a href="#" class="homeIcon">{{ 'home'|trans }}</a></li>
                <li id="home"><a href="#">{{ 'home'|trans }}</a></li>
                <li id="news"><a href="#">{{ 'news'|trans }}</a></li>
                <li id="article"><a href="#">{{ 'article'|trans }}</a></li>
                <li id="about"><a href="{{ path('apropos', { '_locale': app.request.locale }) }}">{{ 'about'|trans }}</a></li>
                <li id="contact"><a href="{{ path('contact', { '_locale': app.request.locale }) }}">{{ 'contact'|trans }}</a></li>
            </ul>
        </nav>
  </div>
  <div id="content-wrap"> 
    <img src={{ image('images/hi-tech-wallpaper.jpg') }} width="100%" height="230" alt="headerphoto" class="no-border" />
    <div id="infos-barre">
        <marquee direction="left">FlashInfos : --- ;</marquee>
    </div>
    <div id="sidebar">
      <h1>Menu</h1>
      <ul class="sidemenu">
        <li><a href="#">{{ 'home'|trans }}</a></li>
        <li><a href="#">{{ 'news'|trans }}</a></li>
        <li><a href="#">{{ 'article'|trans }}</a></li>
        <li><a href="{{ path('contact', { '_locale': app.request.locale }) }}">{{ 'contact'|trans }}</a></li>
        <li><a href="{{ path('apropos', { '_locale': app.request.locale }) }}">{{ 'about'|trans }}</a></li>
      </ul>
      <h1>{{ 'link'|trans }}</h1>
      <ul class="sidemenu">
        <li><a href="http://www.info-technology.tn/">InfosTech</a></li>
      </ul>
    </div>
    <div id="main">
        {% block main %}
        {% endblock main %}
    </div>
    <div id="rightbar">
    
    {{ render(controller('AcmeDemoBundle:Security:login')) }}

{#
      <form id="form1" method="post" action="">
        <p>
          Nom utilisateur : <br />
          <input class="text" type="text" name="textfield" />
        </p>
        <p>Mot de passe :
		  <input class="text" type="password" name="textfield2" />
		  <br/>
	    </p>
        <p><br/>
          <center><input class="button" type="submit" /></center>
        </p>
        <center><a href="{{ path('inscription') }}">Inscription</a></center>
		<center><a href="">Mot de passe oublié</a></center>
      </form>
#}
      <p>&nbsp; </p>
      <p><!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
	  </p>
    </div>
  </div>
  <div id="footer">
    <div class="footer-left">
      <p class="align-left">&nbsp;</p>
    </div>
    <div class="footer-right">
      <p class="align-right">&copy; 2014 <strong>www.hightech.net</strong></p>
    </div>
  </div>
</div>
</body>
</html>
