<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% trans_default_domain 'AcmeDemoBundle' %}
{% set _locale = app.request.locale %}
{% set _route  = app.request.attributes.get('_route') %}

<head>
{% block title %}
    <title></title>
{% endblock %}
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

{% stylesheets 'bundles/acmedemo/css/BrightSide.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>
<!-- {{ render(controller('AcmeDemoBundle:Security:login')) }} -->
<div id="header">
<div id="drapeaux">
    <a href="{{ path(_route, {'_locale': 'en'}) }}"><img width="40px" height="20px" src="http://engees-fresqueau.unistra.fr/drapeau/drapeaua.jpg"></img></a>
    <a href="{{ path(_route, {'_locale': 'fr'}) }}"><img width="40px" height="20px" src="http://croc.campus.ecp.fr/french.jpg"></img></a>
</div>
    <!--
    <form method="post" class="searchform" action="">
      <p>
        <input type="text" name="search_query" />
        <input type="submit" name="search" value="{{ 'search'|trans }}" />
      </p>
    </form>
    -->
       <h1 id="logo"></h1>
        <nav>
                <a href="#"><strong>{{ 'home'|trans }}</a></strong>
                <a href="#"><strong>{{ 'news'|trans }}</a></strong>
                <a href="{{ path('acmedemobundle_articles', { '_locale': app.request.locale }) }}"><strong>{{ 'article'|trans }}</strong></a>
                <a href="{{ path('apropos', { '_locale': app.request.locale }) }}"><strong>{{ 'about'|trans }}</strong></a>
                <a href="{{ path('contact', { '_locale': app.request.locale }) }}"><strong>{{ 'contact'|trans }}</strong></a>
        </nav>
</div>
<div id="wrap">
  <div id="content-wrap">
    <div id="infos-barre">
        
    </div>
    <!--
    <div id="sidebar">
      <h1>Menu</h1>
      <ul class="sidemenu">
        <li><a href="#">{{ 'home'|trans }}</a></li>
        <li><a href="#">{{ 'news'|trans }}</a></li>
        <li><a href="#">{{ 'article'|trans }}</a></li>
        <li><a href="{{ path('contact', { '_locale': app.request.locale }) }}">{{ 'contact'|trans }}</a></li>
        <li><a href="{{ path('apropos', { '_locale': app.request.locale }) }}">{{ 'about'|trans }}</a></li>
      </ul>
      <h1>{{ 'link'|trans }}</h1>
      <ul class="sidemenu">
        <li><a href="http://www.info-technology.tn/">InfosTech</a></li>
      </ul>
    </div>
    -->
    <div id="main">
        {% block main %}
        {% endblock main %}
    </div>
  </div>
</div>
<div id="footer">
    <div class="footer-left">
      <p class="align-left">&nbsp;</p>
    </div>
    <div class="footer-right">
      <p class="align-right"></p>
    </div>
</div>
<footer>
<center>&copy; 2014 <strong>www.hightech.net</strong></center>
</footer>
</body>
</html>
