{% extends "AcmeDemoBundle::base.html.twig" %}

{% block main %}

{% trans_default_domain 'MremiContactBundle' %}
{% trans_default_domain 'AcmeDemoBundle' %}

<h1>{{ 'listarticles'|trans }}</h1>
{% for article in articles %}
<article>
    <div id="titrearticle">Article N°{{ loop.index }}</div>
    <table class="table_article">
        <tbody>
            <tr>
                <td><strong>Titre : {{ article.titre }}</strong></td>
                <td><strong>Date : {{ article.date|date('Y-m-d H:i:s') }}</strong></td>
            </tr>
            <tr>
                <td>Sujet :</td>
            </tr>
            <tr>
                <td>{{ article.sujet }}</td>
            </tr>
            <tr>
                <td>Contenu :</td>
            </tr>
            <tr>
                <td>{{ article.contenu }}</td>
            </tr>
            <tr>
                <td>
                    {% for commentaire in article.commentaires %}
                        Commentaire {{ loop.index }} :
                        {{ commentaire.msg }} \ {{ commentaire.date|date() }}
                        <br/>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <div id="addcomment"><a id="" href="">Ajouter commentaire</a></div>
</article>
{% endfor %}

{% endblock main %}