{% trans_default_domain 'FOSUserBundle' %}

<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <span class="text-color-white">{{ 'layout.logged_in_as'|trans({}, 'FOSUserBundle') }} : {{ app.user.username }}
        <br/>
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} 
                </a>
        </span>
    {% endif %}
    {#
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    #}
</div>

{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <span class="text-color-white">{{ 'security.login.username'|trans }}</span>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <span class="text-color-white">{{ 'security.login.password'|trans }}</span>
    <input type="password" id="password" name="_password" required="required" />

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    <br/>
    <div style="text-align: right; width: 70%">
    <a href="{{ path('motdepasseoubliee') }}">mot de passe oubliee</a>
    </div>
    {% if error %}
        <div style="color:red;border:1px;">{{ error|trans }}</div>
    {% endif %}
</form>
{% endif %}